h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 25px;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.orange-color {
    color: orangered;
}

.Flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#padding {
    padding-right: 120px;
}

#padding-right {
    padding-right: 50px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(189, 175, 175);
}

#border-orangered {
    border-left: 5px solid orangered;
}

#border-blue {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}